<table class="table table-condensed photographs-detail-table">
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('Summary')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('Summary')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('Creator')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('Creator')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('DateOfCreation')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('DateOfCreation')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('Publisher')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('Publisher')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('DateOfPublication')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('DateOfPublication')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('PlaceOfPublication')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('PlaceOfPublication')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('Medium')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('Medium')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('PhysicalDescription')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('PhysicalDescription')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('Subjects')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('Subjects')"></div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <div class="name" data-bind="text: labelFor('Notes')"></div>
        </th>
        <td>
            <div class="value" data-bind="component: displayFor('Notes')"></div>
        </td>
    </tr>
</table>
