article.detail {
    h1 {
        .idno {
            display: block;
            font-size: @font-size-small;
            padding: @padding-small-vertical 0;
        }
    }

    .type-header {
        &:extend(.text-muted);
        text-transform: uppercase;
    }

    .row {
        margin-bottom: 1em;

        .name {
            font-weight: bold;
        }

        .value {
            font-size: @font-size-large;
        }

        .list-unstyled {
            margin-bottom: 0;
        }
    }
}
