<div class="image-detail-container">
    <!-- ko if: data().MediaAccess === 'true' -->
    <div data-bind="component: displayFor('MediaMedium')"></div>
    <div class="public-image-footnote">
        Items in this collection are owned by The Royal Western Australian Historical Society, Inc.
        These low resolution images can be viewed and printed for research, personal or educational purposes only as can higher resolution copies of photographs purchased through our online shop.
        If you wish to use them for any other purpose, including publication and commercial purposes, you must apply on the
        <a href="https://staging-www.histwest.org.au/form/library-enquiry-form">Photograph Enquiry Form</a>
        and obtain permission in writing from the Society.
        If you see an image that you believe is under copyright and should not be displayed on this website, please
        <a href="https://staging-www.histwest.org.au/contact">contact the Society</a>.
    </div>
    <!-- /ko -->
    <!-- ko if: data().MediaAccess === 'false' -->
    <div class="inaccessible-image-placeholder">
        This image is not available for public viewing.
        Please
        <a href="https://staging-www.histwest.org.au/contact">contact the Society</a>
        with regard to viewing this image.
    </div>
    <!-- /ko -->
    <!-- ko if: !data().MediaAccess -->
    <div class="missing-image-placeholder">
        There are no images of this item.
        Please
        <a href="https://staging-www.histwest.org.au/contact">contact the Society</a>
        for further information.
    </div>
    <!-- /ko -->
</div>
