.list-controls-container {
    ul.list-inline > li {
        padding-right: 0;
    }

    ul.pagination.pagination-sm {
        display: table-cell;

        > li:first-child > a {
            border-radius: 0;
        }
    }
}
