<section>
    <div class="row">
        <div class="col-md-12">
            <div data-bind="component: displayFor('MediaMedium')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('Description')"></div>
            <div class="value" data-bind="component: displayFor('Description')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('MakersMarks')"></div>
            <div class="value" data-bind="component: displayFor('MakersMarks')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('Dates')"></div>
            <div class="value" data-bind="component: displayFor('Dates')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('EarliestYear')"></div>
            <div class="value" data-bind="component: displayFor('EarliestYear')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('LatestYear')"></div>
            <div class="value" data-bind="component: displayFor('LatestYear')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('HistoricalDetails')"></div>
            <div class="value" data-bind="component: displayFor('HistoricalDetails')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('BibliographReferences')"></div>
            <div class="value" data-bind="component: displayFor('BibliographReferences')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('Subjects')"></div>
            <div class="value" data-bind="component: displayFor('Subjects')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('Importance')"></div>
            <div class="value" data-bind="component: displayFor('Importance')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('StatementOfSignificance')"></div>
            <div class="value" data-bind="component: displayFor('StatementOfSignificance')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="name" data-bind="text: labelFor('Classification')"></div>
            <div class="value" data-bind="component: displayFor('Classification')"></div>
        </div>
    </div>
</section>
