<section class="detail detail-memorials">
    <div class="row">
        <div class="col-md-5 col-md-push-7 col-sm-12">
            <div class="image-container pull-right" data-bind="component: { name: 'partials/image-detail', params: $data }"></div>
        </div>
        <div class="col-md-7 col-md-pull-5 col-sm-12">
            <table class="table table-condensed">
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Description')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Description')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Location')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Location')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Inscription')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Inscription')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Creator')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Creator')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('ErectedBy')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('ErectedBy')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Dates')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Dates')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Subjects')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Subjects')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Materials')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Materials')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Dimensions')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Dimensions')"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="name" data-bind="text: labelFor('Provenance')"></div>
                    </th>
                    <td>
                        <div class="value" data-bind="component: displayFor('Provenance')"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
