<div class="query-builder" data-bind="with: root">
    <div data-bind="template: $component.templateFor($data)"></div>
</div>

<script type="text/html" id="condition-template">
    <div class="condition">
        <select data-bind="options: fields, optionsCaption: '', optionsText: 'labelText', optionsValue: 'key', value: selectedField" class="form-control field styled-select"></select>
        <select data-bind="options: comparators, optionsCaption: '', optionsText: 'labelText', optionsValue: 'key', value: selectedComparator" class="form-control comparator styled-select"></select>
        <input type="text" data-bind="textInput: value" class="form-control condition-value" />
        <button class="btn btn-danger btn-xs pull-right" data-bind="click: $parent.removeChild"><span class="glyphicon glyphicon-minus-sign"></span> Remove</button>
    </div>
</script>

<script type="text/html" id="group-template">
    <div class="group">
        <div class="group-controls">
            <select data-bind="options: operators, optionsText: 'labelText', optionsValue: 'key', value: selectedOperator" class="form-control operator styled-select"></select>
            <div class="pull-right">
                <button class="btn btn-xs btn-success" data-bind="click: addCondition"><span class="glyphicon glyphicon-plus-sign"></span> Add Condition</button>
                <!-- ko if: allowChildren -->
                <button class="btn btn-xs btn-success" data-bind="click: addGroup"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
                <!-- /ko -->
                <button class="btn btn-xs btn-danger" data-bind="click: $parent.removeChild"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</button>
            </div>
        </div>
        <div class="group-conditions">
            <div class="rules-list" data-bind="foreach: { data: children, as: 'child' }">
                <div data-bind="template: $component.templateFor(child)"></div>
            </div>
        </div>
    </div>
</script>
