@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    position: relative;
    min-height: 100%;
}

p,li,dt,dd,td,th,details,button,form,a,div,details {
  font-family: Raleway, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

header.navbar.navbar-inverse {
    background-color: @brand-primary;
}

select.form-control.styled-select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent url('/images/dropdown.png') right @padding-small-horizontal center no-repeat;
    padding-right: @padding-small-horizontal * 2;
}

select.form-control.styled-select::-ms-expand {
    display: none;
}

.list-result {
    .result-title {
        font-size: @font-size-large;
    }
    span {
        .display-text{
            display: inline;
        }
    }
    .inline-list li {
        list-style-type: none;
    }
}

article.search .results-container-thumbnails .result{
    overflow:hidden;
    img {
        max-height: 175px;
        margin: auto;
    }   
    .img-placeholder {
        max-height: 175px;
    }
}


