html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 80px 0;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

header.navbar.navbar-inverse {
    padding: 10px;
    background-color: @brand-primary;
}

footer.navbar {
    min-height: unset;
    line-height: 1;
    padding: 10px;
}
