/** Import base variables **/

@import "../lib/bootstrap/less/variables.less";

// Brand Colors
@brand-primary: #0f245c;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
