article.search {
    .results-container-list {
        .result {
            &:extend(.thumbnail);

            height: 120px + @thumbnail-padding * 4 + 2px;

            .img-thumbnail {
                margin-right: @padding-base-horizontal;

                &.img-placeholder > span {
                    &:extend(.text-muted);
                    background-color: #eee;
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    padding-top: 40px;
                    text-align: center;

                    .glyphicon {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .results-container-thumbnails {
        .result {
            &:extend(.thumbnail);

            height: 240px + @padding-large-vertical * 2 + @padding-small-vertical * 2 + @line-height-computed + 2px;

            .img-thumbnail.img-placeholder > span {
                &:extend(.text-muted);
                background-color: #eee;
                display: inline-block;
                width: 240px;
                height: 240px;
                padding-top: 80px;
                text-align: center;

                .glyphicon {
                    font-size: 80px;
                }
            }

            .caption {
                &:extend(.thumbnail .caption);

                display: block;

                .display {
                    display: inline;
                }
            }
        }
    }

    .results-container-table {
        .img-thumbnail.img-placeholder > span {
            &:extend(.text-muted);
            background-color: #eee;
            display: inline-block;
            width: 120px;
            height: 120px;
            padding-top: 40px;
            text-align: center;

            .glyphicon {
                font-size: 40px;
            }
        }
    }
}
